#complete-screen .grid-item-w-1 {
    width: 180px; }

#complete-screen .grid-item-w-2 {
    width: 375px; }

#complete-screen .grid-item-h-1 {
    height: 165px; }

#complete-screen .grid-item-h-2 {
    height: 340px; }

#complete-screen .grid {
    max-width: 2200px;
    top: 130px; }

#complete-screen .grid:after {
    content: '';
    display: block;
    clear: both; }

#complete-screen .grid-item {
    float: left;
    border: 1px;
    border-color: lightgrey;
    border-style: solid; }

#complete-screen * {
    box-sizing: border-box; }

#complete-screen #main-header {
    margin-left: -10px;
    margin-bottom: -100px;
    margin-top: 10px;
    bottom: -5px;
    left: 10px;
    position: relative; }

#complete-screen #stat {
    margin-left: 10px;
    margin-top: 10px; }

#complete-screen .navbar button {
    margin-top: 10px;
    margin-left: 5px; }

#complete-screen .view {
    display: none; }

#complete-screen .hide-content {
    display: none; }

#complete-screen .loading {
    margin: 400px;
    background-image: url("../../images/dashboard/ajax-loader.gif");
    background-repeat: no-repeat;
    background-size: 100px 100px;
    display: inline-block;
    width: 100px;
    height: 100px;
    content: "";
    position: relative; }

#complete-screen #breadcrumbs_container {
    font-size: 12px; }

#complete-screen .breadcrumb_container {
    display: inline;
    float: left;
    margin-top: 10px;
    padding-bottom: 20px;
    margin-left: 10px; }

#complete-screen .breadcrumb_remove {
    vertical-align: middle;
    margin-top: -2px; }

#complete-screen .breadcrumb_remove:hover {
    cursor: pointer; }

#complete-screen .breadcrumb_items {
    display: inline; }

#complete-screen .breadcrumb_item {
    font-weight: bold;
    margin-left: 5px; }

#complete-screen .chart-operations {
    display: none; }

#complete-screen .chart-operations-active {
    display: block;
    float: right; }

#complete-screen .chart-title-span {
    font-size: 10px;
    color: black;
    font-weight: bold;
    padding-left: 5px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center; }

#complete-screen .chart-title {
    width: 100%;
    float: none; }

#complete-screen .chart-title-active {
    width: 60%;
    float: left; }

#complete-screen .dc-chart-pointer {
    font-size: 16px;
    color: grey;
    cursor: pointer; }

#complete-screen .chart-header {
    margin-left: 10px;
    margin-top: 5px; }

#complete-screen .study-view-chart-header {
    height: 16px;
    width: 100%;
    text-align: center; }

#complete-screen .dc-chart-drag {
    color: grey;
    font-size: 12px; }

#complete-screen .dc-chart-drag:hover {
    cursor: move; }

#complete-screen .tooltipped {
    position: relative; }

#complete-screen .tooltipped:after {
    position: absolute;
    z-index: 1000000;
    display: none;
    padding: 5px 8px;
    font: normal normal 11px/1.5 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    content: attr(aria-label);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    -webkit-font-smoothing: subpixel-antialiased; }

#complete-screen .tooltipped:before {
    position: absolute;
    z-index: 1000001;
    display: none;
    width: 0;
    height: 0;
    color: rgba(0, 0, 0, 0.8);
    pointer-events: none;
    content: "";
    border: 5px solid transparent; }

#complete-screen .tooltipped:hover:before, #complete-screen .tooltipped:hover:after, #complete-screen .tooltipped:active:before,
#complete-screen .tooltipped:active:after, #complete-screen .tooltipped:focus:before, #complete-screen .tooltipped:focus:after {
    display: inline-block;
    text-decoration: none; }

#complete-screen .tooltipped-s:after {
    top: 100%;
    right: 50%;
    margin-top: 5px;
    -webkit-transform: translateX(50%);
    transform: translateX(50%); }

#complete-screen .tooltipped-s:before {
    top: auto;
    right: 50%;
    bottom: -5px;
    margin-right: -5px;
    border-bottom-color: rgba(0, 0, 0, 0.8); }

#complete-screen .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease; }

#complete-screen .modal-wrapper {
    display: table-cell;
    vertical-align: middle; }

#complete-screen .modal-enter, #complete-screen .modal-leave {
    opacity: 0; }

#complete-screen .modal-enter .modal-container,
#complete-screen .modal-leave .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

#complete-screen .modal-list-container {
    width: 300px;
    margin: 40px auto 0;
    background-color: #fff;
    border-radius: 2px;
    font-family: Helvetica, Arial, sans-serif;
    overflow: hidden;
    overflow-y: auto;
    max-height: 300px;
    border: 0 solid transparent !important;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2) !important;
    padding: 12px 0 !important;
    cursor: default; }

#complete-screen .modal-list-container .vc-list-group {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 0; }

#complete-screen .modal-list-container .vc-list-group-item {
    color: #000;
    background-color: #fff;
    display: block;
    padding: 10px 15px;
    position: relative;
    list-style: outside none none;
    white-space: nowrap; }

#complete-screen .modal-list-container .vc-list-group-item:hover {
    background-color: #e5e5e5;
    position: relative;
    cursor: pointer; }

#complete-screen .vc-list-content {
    width: 280px;
    font: normal 15px Arial, sans-serif;
    height: 32px;
    line-height: 32px;
    margin: 0 !important;
    color: #212121;
    overflow: hidden;
    text-overflow: ellipsis; }

#complete-screen .modal-xlg {
    width: 100% !important; }

#complete-screen .input-group input {
    min-height: 34px;
    padding: 7px 8px;
    font-size: 13px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075); }

#complete-screen .modal-content button {
    margin-top: 0px !important; }

#complete-screen .EFDT-table, .study-view-pie-label-qtip .EFDT-table {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px; }
#complete-screen .EFDT-table *, .study-view-pie-label-qtip .EFDT-table * {
    box-sizing: border-box;
    text-align: left; }
#complete-screen .EFDT-table input[type=checkbox], #complete-screen .EFDT-table input[type=radio], .study-view-pie-label-qtip .EFDT-table input[type=checkbox], .study-view-pie-label-qtip .EFDT-table input[type=radio] {
    margin: 1px 0 0; }
#complete-screen .EFDT-table .EFDT-top-btn, .study-view-pie-label-qtip .EFDT-table .EFDT-top-btn {
    margin-right: 5px; }
#complete-screen .EFDT-table .EFDT-show-hide, #complete-screen .EFDT-table .EFDT-fixed-choose, #complete-screen .EFDT-table .EFDT-download, .study-view-pie-label-qtip .EFDT-table .EFDT-show-hide, .study-view-pie-label-qtip .EFDT-table .EFDT-fixed-choose, .study-view-pie-label-qtip .EFDT-table .EFDT-download {
    float: left; }
#complete-screen .EFDT-table .dropdown-checkbox-toggle, .study-view-pie-label-qtip .EFDT-table .dropdown-checkbox-toggle {
    color: #333;
    background-color: #fff;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px; }
#complete-screen .EFDT-table .EFDT-header-filters-reset, .study-view-pie-label-qtip .EFDT-table .EFDT-header-filters-reset {
    cursor: pointer;
    text-decoration: underline; }
#complete-screen .EFDT-table .EFDT-download-btn, .study-view-pie-label-qtip .EFDT-table .EFDT-download-btn {
    float: left; }
#complete-screen .EFDT-table .EFDT-header-filters, .study-view-pie-label-qtip .EFDT-table .EFDT-header-filters {
    margin: 3px 0; }
#complete-screen .EFDT-table .EFDT-header-filters input, .study-view-pie-label-qtip .EFDT-table .EFDT-header-filters input {
    height: 20px;
    font-size: 12px;
    line-height: 12px; }
#complete-screen .EFDT-table .EFDT-header, .study-view-pie-label-qtip .EFDT-table .EFDT-header {
    text-align: center;
    vertical-align: middle; }
#complete-screen .EFDT-table .EFDT-header .EFDT-header-sort, .study-view-pie-label-qtip .EFDT-table .EFDT-header .EFDT-header-sort {
    width: 100%;
    padding: 3px 8px;
    display: inline-block;
    color: black;
    white-space: nowrap; }
#complete-screen .EFDT-table .EFDT-header .EFDT-header-sort .EFDT-header-sort-content, .study-view-pie-label-qtip .EFDT-table .EFDT-header .EFDT-header-sort .EFDT-header-sort-content {
    float: left; }
#complete-screen .EFDT-table .EFDT-header .EFDT-header-sort .EFDT-header-sort-icon, .study-view-pie-label-qtip .EFDT-table .EFDT-header .EFDT-header-sort .EFDT-header-sort-icon {
    float: right; }
#complete-screen .EFDT-table .EFDT-header .EFDT-header-sort:hover, .study-view-pie-label-qtip .EFDT-table .EFDT-header .EFDT-header-sort:hover {
    cursor: pointer; }
#complete-screen .EFDT-table .EFDT-filter, .study-view-pie-label-qtip .EFDT-table .EFDT-filter {
    float: left; }
#complete-screen .EFDT-table .EFDT-result-info, .study-view-pie-label-qtip .EFDT-table .EFDT-result-info {
    float: left; }
#complete-screen .EFDT-table .EFDT-result-info-content, .study-view-pie-label-qtip .EFDT-table .EFDT-result-info-content {
    display: inline-block;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429; }
#complete-screen .EFDT-table .gene-selected, .study-view-pie-label-qtip .EFDT-table .gene-selected {
    font-weight: bold; }
#complete-screen .EFDT-table .EFDT-cell .gene:hover, .study-view-pie-label-qtip .EFDT-table .EFDT-cell .gene:hover {
    border: 2px solid #1974b8;
    cursor: pointer; }
#complete-screen .EFDT-table .EFDT-cell .gene.gene-selected, .study-view-pie-label-qtip .EFDT-table .EFDT-cell .gene.gene-selected {
    font-weight: bold; }
#complete-screen .EFDT-table .EFDT-cell .alt-type-red, .study-view-pie-label-qtip .EFDT-table .EFDT-cell .alt-type-red {
    font-weight: bold;
    color: #ff0000; }
#complete-screen .EFDT-table .EFDT-cell .alt-type-blue, .study-view-pie-label-qtip .EFDT-table .EFDT-cell .alt-type-blue {
    font-weight: bold;
    color: #0000ff; }
#complete-screen .EFDT-table .EFDT-cell .qval-icon, .study-view-pie-label-qtip .EFDT-table .EFDT-cell .qval-icon {
    margin-bottom: 4px;
    width: 10px; }
#complete-screen .EFDT-table .EFDT-cell-full, .study-view-pie-label-qtip .EFDT-table .EFDT-cell-full {
    width: 100%; }
#complete-screen .EFDT-table .row-selected, .study-view-pie-label-qtip .EFDT-table .row-selected {
    background-color: lightgrey; }
#complete-screen .EFDT-table .public_fixedDataTable_header, #complete-screen .EFDT-table .public_fixedDataTable_header .public_fixedDataTableCell_main, .study-view-pie-label-qtip .EFDT-table .public_fixedDataTable_header, .study-view-pie-label-qtip .EFDT-table .public_fixedDataTable_header .public_fixedDataTableCell_main {
    background-color: white;
    background-image: none; }
#complete-screen .EFDT-table .fixedDataTableLayout_main, #complete-screen .EFDT-table .fixedDataTableCellLayout_main, .study-view-pie-label-qtip .EFDT-table .fixedDataTableLayout_main, .study-view-pie-label-qtip .EFDT-table .fixedDataTableCellLayout_main {
    border: 0; }
#complete-screen .EFDT-table .public_fixedDataTableCell_cellContent, .study-view-pie-label-qtip .EFDT-table .public_fixedDataTableCell_cellContent {
    line-height: 13px;
    padding: 6px 5px; }

#ruler {
    visibility: hidden;
    white-space: nowrap; }